{% extends "network/layout.html" %}

{% block body %}

<!-- All Post Tab -->
<div id="all-post-container">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <div class="d-flex align-items-center justify-content-between">
            <strong>{{message}}</strong>
            <i type="button" data-bs-dismiss="alert" aria-label="Close" style="font-size: 30px;" class="bi bi-x"></i>
            </button>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="container">
        <div class="d-flex align-items-center" style="gap: 10px; font-size: 30px;">
            <span><strong class="h2">All Posts</strong></span>
            <!-- Button trigger modal -->
            {% if user.is_authenticated %}
            <span type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="bi bi-plus-circle"></i>
            </span>
            {% endif %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Post</h5>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <textarea id="addPostInput" name="addPost" class="form-control mb-2" rows="5"></textarea>
                        <!-- <input type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Post"> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Post">
                </div>
                </form>
            </div>
        </div>
    </div>

    {% include "network/posts.html" %}
</div>
{% endblock %}