{% extends "network/layout.html" %}

{% block body %}

<!-- All Post Tab -->
<div id="all-post-container">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <div class="d-flex align-items-center justify-content-between">
            <strong>{{message}}</strong>
            <i type="button" data-bs-dismiss="alert" aria-label="Close" style="font-size: 30px;" class="bi bi-x"></i>
            </button>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="d-flex align-items-center" style="gap: 10px; font-size: 30px;">
        <span><strong class="h2">All Posts</strong></span>
        <!-- Button trigger modal -->
        <span type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="bi bi-plus-circle"></i>
        </span>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Post</h5>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <textarea id="addPostInput" name="addPost" class="form-control mb-2" rows="5"></textarea>
                        <!-- <input type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Post"> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Post">
                </div>
                </form>
            </div>
        </div>
    </div>
    {% if not page_obj %}
    <div class="text-center mt-3">
        No Posts Yet!
    </div>
    {% endif %}
    {% for post in page_obj %}
    <div class="container border mt-2" data-id="{{ post.id }}">
        <div class="row pt-3">
            <div class="col">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h5>{{ post.user }}</h5>
                    </div>
                    <div style="color: rgb(147, 146, 146);">
                        {{ post.datetime }}
                    </div>
                </div>
                <p>{{ post.text }}</p>

                <hr />
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <span>
                        {% if not post.is_liked %}
                            <i id="heart-icon" data-action="like" class="bi bi-heart"></i>
                        {% else %}
                            <i id="heart-icon" data-action="unlike" class="bi bi-heart-fill text-danger"></i>
                        {% endif %}
                    </span>
                    <div style="padding-left: 3px;">{{post.postLiked.count}}</div>
                    <a style="margin-left: 55px;" href="#">Comment</a>
                    <!-- {% if post.user == request.user %} -->
                    <!-- <a style="margin-left: 55px;" href="#">Edit</a> -->
                    <!-- {% endif %} -->
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- <hr /> -->
    <div class="pagination container">
        <hr />
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}