{% load static %}

{% if not page_obj %}
<div class="text-center mt-3">
    No Posts Yet!
</div>
{% endif %}
{% for post in page_obj %}
<div class="container border mt-2" data-user="{{ post.user.id }}" data-id="{{ post.id }}">
    <div class="row pt-3">
        <div class="col">
            <div id="post" class="d-flex algin-items-center justify-content-end">
                {% if post.user == request.user %}
                <!-- <i type="button" data-bs-toggle="dropdown" aria-expanded="false" id="three-dot" class="bi bi-three-dots dropdown-toggle" title="Edit"></i> -->
                <div class="dropdown">
                    <a class="bi bi-three-dots" id="three" type="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" onclick="editPost(this, event)" id="postEdit">Edit</a></li>
                        <li><a class="dropdown-item" id="down">Delete</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' post.user_id %}">
                        <h5>{{ post.user }}</h5>
                    </a>
                    {% else %}
                    <a>
                        <h5>{{ post.user }}</h5>
                    </a>
                    {% endif %}
                </div>
                <div style="color: rgb(147, 146, 146);">
                    {{ post.datetime }}
                </div>
            </div>
            <p>{{ post.text }}</p>

            <hr />
            <div class="d-flex align-items-center justify-content-center mb-2">
                <span>
                    {% if not post.is_liked %}
                    <i id="heart-icon" data-action="like" class="bi bi-heart"></i>
                    {% else %}
                    <i id="heart-icon" data-action="unlike" class="bi bi-heart-fill text-danger"></i>
                    {% endif %}
                </span>
                <div style="padding-left: 3px;">{{post.postLiked.count}}</div>
                <a style="margin-left: 55px;" href="{% url 'postView' post.id %}">Comment</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- <hr /> -->
<div class="pagination container">
    <hr />
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>